/*variavel para as cores*/
:root {

    --background-color: rgba(5, 13, 24, 0.555);

    --fundo-menu-lateral: #533200;
    --fundo-claro: #a6afb4;
    --fundo-escuro: #e0bf8b;

    --borda-clara: #87691b;
    --borda-escura: #725410;

    --texto-escuro: #161616;
    --texto-claro: #241201;
    --texto-branco: #ecf8ff;
    --texto-hover: #25190abe;
    --texto-opaco: #81888c;

    --cor-detalhes: #c5a46f;

    --texto-titulo-claro: #514227;
    --texto-titulo-escuro: #241b07;

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgba(31, 31, 31, 0.1);
}


/* CSS Geral*/
body {
    font-family: "Roboto", sans-serif;
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}

/* Cabeçaho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;

}


#header .perfil img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0 0 5px var(--sombra-escura);
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #c8d4db;
}

.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

a { 
    text-decoration: none;
}

/*Menu Mobile*/
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-opaco);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o Corpo do Conteúdo */

/* menu responsivo */
@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
}

/* Menu do Header*/
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    font-weight: 600;
}

.nav-menu a, .nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i, .nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: 600;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
    color: var(--cor-detalhes);
    font-weight: 600;

}

/* HERO */
#hero {
    width: 100%;
    height:  100vh; /*view Port Height */
    background: url("../img/bg-hero.jpg") center; /* criar img na I.A. */
    background-size: cover;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(35, 24, 24, 0.5);

}

#hero .hero-container {
    z-index: 3;
    position: relative;
    min-width: 300px;
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    letter-spacing: -1px;
}

#hero p span {
    color: #1e1506;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 3px solid #1e1506;
}

/* Estrutura Base - Corpo */


